.home{
  position: relative;
  width:100%;
  height:100vh;
  display: block;
}
.homeImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.title{
  width: 100%;
  top: 35%;
  left: auto;

  font-family: 'PT Mono', monospace;
  font-size: 25px;

  position: absolute;
  text-align: center;
}

.title h1{
  color: #FFFFFF;
}
.title h2{
  color: #FFFFFF;
}
.title h3{
  color: #FFFFFF;
}
